
.gamePart {
    width: 50%;
    height: 60%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 6px;
}

.checked {
    color: orange;
}

.endRow {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin-top: 6px;
}

.endRow > p {
    font-size: 3vmin;
}

.comment > img {
    border-radius: 50%;
}

.column > .row {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.startColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
    margin-top: 6px;
}
.startColumn > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.smallLine {
    width: 50%;
    align-self: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(183, 183, 183);
    margin-top: 20px;
    margin-bottom: 20px;
}